<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum=1.0,user-scalable=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin/index">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default"></nav>
        <ul class="nav nav-tabs actions-nav"></ul>
        <table class="table table-striped table-bordered table-hover model-list"></table>
        <ul class="pagination"></ul>
    </div>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
</body>
</html>