<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="space, blog, 前端">
    <meta name="description" content="space博客">
    <meta name="author" content="yimin,2316114920@qq.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum=1.0,user-scalable=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>space blog</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="pg-index">
    <section class="header">
        <div class="header-container">
            <div id="homeLog">SPACE BLOG</div>
            <nav>
                <ul>
                    <li><a href="">待开发</a></li>
                    <li><a href="">待开发</a></li>
                    <li><a href="">待开发</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <div id="content">
        <section class="post-list">
            <div>
                <article class="post post-width-tags">
                    <header class="post-title">
                        <a href="">Express 错误处理</a>
                    </header>
                    <div class="post-meta">
                        <span>2016-11-18</span>
                    </div>
                    <p class="post-abstract">
                        express 错误处理
                    </p>
                    <footer class="post-tags">
                        <a href="" class="tag">nodejs</a>
                        <a href="" class="tag">express</a>
                    </footer>
                </article>
                <article class="post post-width-tags">
                    <header class="post-title">
                        <a href="">Express 错误处理</a>
                    </header>
                    <div class="post-meta">
                        <span>2016-11-18</span>
                    </div>
                    <p class="post-abstract">
                        express 错误处理
                    </p>
                    <footer class="post-tags">
                        <a href="" class="tag">nodejs</a>
                        <a href="" class="tag">express</a>
                    </footer>
                </article>
            </div>
        </section>
    </div>
    <footer></footer>
</body>
</html>