<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
    <link rel="stylesheet" href="/css/skin-black-light.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
</head>
<body class="skin-black-light fixed"  data-spy="scroll" data-taget="#scrollspy">
    <div class="wrapper">
        <header class="main-header">

        </header>
        <aside class="main-sidebar">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 851px;"><div class="sidebar" id="scrollspy" style="height: 851px; overflow: hidden; width: auto;">
                    <ul class="nav sidebar-menu">
                        <li class="header">数据分类</li>
                        <li class=""><a href="#introduction"><i class="fa fa-circle-o"></i>访问统计</a></li>
                    </ul>
                </div><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.2); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 851px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
        </aside>
        <div class="content-wrapper">

        </div>
    </div>
</body>
</html>