<section class="header">
    <div class="header-container">
        <div id="homeLog"><a href="/">Space Blog</a></div>
        <button class="nav-bar-btn"></button>
        <nav>
            <ul>
                <li><a href="">待开发</a></li>
                <li><a href="/tags">标签</a></li>
                <li><a href="/analyse">数据统计</a></li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</section>